:root{
    --background: #110038;
    --letter-menu: #FFFFFF;
    --gradient-1: #EE3EFE;
    --gradient-2: #2E32FB;
    --backgr-1: #B4B4B4;
    --backgr-2: #CCCCCC;
    --backgr-3: #CCCCCC;
    --backgr-4: #2E32FB;
    --backgr-5: #CE36DB;
    --border-1: #2E32FB;
    --border-2: #808080;
    --border-3: #33358F;
    --border-4: #B4B4B4;
    --shadow-1: #A72CB3;
    --shadow-4: #5c5c5c;
    --shadow-5: #2124B3;
    --shadow-2: #B4B4B4;
    --shadow-3: #E6DCE4;
}